<div class="container my-0">
   <div class="text-end mb-3">
        <a href="/logout" class="btn btn-outline-danger">
            <i class="bi bi-box-arrow-right"></i> Sair
        </a>
    </div>

    <div class="card text-center mb-5">
        <div class="card-body">
            <h2 class="card-title">Olá, Administrador</h2>
            <h5 class="card-subtitle mb-3 text-muted">Aqui você pode criar seus eventos do CIMOL</h5>
            <a href="/eventos/add" class="btn btn-primary btn-lg">Criar Evento</a>
        </div>
    </div>

    <h3 class="mb-3 text-center">Eventos no Ar</h3>
    <p class="card-text text-center">Aqui estão listados os eventos ativos atualmente.</p>
       
    {{#if message}}
        <div class="alert alert-success">{{message}}</div>
    {{/if}}

</div>

<div class="container mt-5">
    <div class="row">
        {{#each eventos}}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 shadow-lg">
                    <div class="card-body">
                        <img src="{{this.imagePath}}" alt="">
                        <h3 class="card-title text-primary">{{this.title}}</h3>
                        <p class="card-text"><strong>Palestrantes:</strong> {{this.palestrantes}}</p>
                        <p class="card-text"><strong>Local:</strong> {{this.local}}</p>
                        <p class="card-text"><strong>Curso:</strong> {{this.curso}}</p>
                        <p class="card-text"><strong>Participantes:</strong> {{this.participantes}}</p>
                        <p class="card-text"><strong>Data Inicio:</strong> {{this.dataFormatada}}</p>
                        <p class="card-text"><strong>Data Final:</strong> {{this.dataLimiteFormatada}}</p>
                        <p class="card-text"><strong>Duração:</strong> {{this.duracao}} dias</p>
                        <p class="card-text"><strong>Descrição:</strong> {{this.descricao}}</p>
                        
                    </div>
                    <div class="card-body text-start">
                        <form action="/eventos/remove" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash"></i> Remover
                            </button>
                        </form>
                        <a href="/eventos/edit/{{this.id}}" class="btn btn-warning">
                            <i class="bi bi-pencil"></i> Editar
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
